#activities a {
  text-decoration: none;
}

#activities h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

#activities .row {
  max-width: 900px;
  margin: 50px auto 0;
}

.cards {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.card {
  padding: 0 1.7rem;
  width: 360px;
  /* height: 60%; */
  margin: 50px 10px 10px 10px;
  /* max-width: 80%; */
}
.cardimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.card .menu-content::before,
.card .menu-content::after {
  content: '';
  display: table;
}
.card .menu-content::after {
  clear: both;
}
.card .menu-content li {
  display: inline-block;
}
.card .menu-content a {
  color: #fff;
}
.card .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: 'Open Sans';
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.card .wrapper {
  border: 1px solid white;
    border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  height: 500px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.2);
  box-shadow: 0 9px 20px rgba(0, 0, 0, 0.8), 0 5px 18px rgba(0, 0, 0, 0.2);
}
.card .wrapper .cardimg img {
  width: 360px;
  height: 500px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  transition: 500ms;
  transform: scale(1.0);
}
.card .wrapper:hover .cardimg img {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 500ms;
}
.content{
  transition: 500ms;
  transform: scale(1.0);
}
.card .wrapper:hover .content {
  -webkit-transform: translateY(-80%);
  -ms-transform: translateY(calc(-100% + 4em));
  transform: translateY(calc(-100% + 4em));
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  transition: 500ms;
}
.card .line1 {
  -webkit-transform: translateY(calc(4px + 10em)) !important;
  -ms-transform: translateY(calc(4px + 10em)) !important;
  transform: translateY(calc(4px + 10em)) !important;
}
.card .line2 {
}
.card .line3 {
  -webkit-transform: translateY(calc(4px + 6em)) !important;
  -ms-transform: translateY(calc(4px + 6em)) !important;
  transform: translateY(calc(4px + 6em)) !important;
}
.card .data {
  position: absolute;
  top: 265px;
  width: 100%;
  transition: -webkit-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(calc(4px + 8em));
  -ms-transform: translateY(calc(4px + 8em));
  transform: translateY(calc(4px + 8em));
}

.card .data .content {
  padding: 1em;
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.card .data .content .text a {
  color: #37b721;
}
.card .author {
  font-size: 12px;
}
.card .title {
  margin-top: 10px;
  margin-bottom: 20px;
}
.card .text {
  margin: 0;
}

.card input[type='checkbox'] {
  display: none;
}
.card input[type='checkbox']:checked + .menu-content {
  -webkit-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  transform: translateY(-60px);
}

.card .wrapper:hover .menu-content span {
  -webkit-transform: translate(-50%, -10px);
  -ms-transform: translate(-50%, -10px);
  transform: translate(-50%, -10px);
  opacity: 1;
}
.card .header {
  color: #fff;
  padding: 1em;
}
.card .header::before,
.card .header::after {
  content: '';
  display: table;
}
.card .header::after {
  clear: both;
}
.card .header .date {
  /* float: left; */
  font-size: 12px;
}

.card .menu-content li {
  margin: 0 5px;
  position: relative;
}
.card .menu-content span {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.card .data {
  color: #fff;
}
.card .title a {
  color: #fff;
}
.card .button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}
.card .button::after {
  content: '\2192';
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.card .button:hover::after {
  -webkit-transform: translate(5px, -50%);
  -ms-transform: translate(5px, -50%);
  transform: translate(5px, -50%);
  opacity: 1;
}

@media (max-width: 1400px) {
  .card {
    width: 320px;
  }
  .card .wrapper {
    height: 450px;
  }
  .card .cardimg img {
    width: 320px;
  }
  .card .line1 {
    -webkit-transform: translateY(calc(4px + 7em)) !important;
    -ms-transform: translateY(calc(4px + 7em)) !important;
    transform: translateY(calc(4px + 7em)) !important;
  }
  .card .data {
    -webkit-transform: translateY(calc(4px + 5em));
    -ms-transform: translateY(calc(4px + 5em));
    transform: translateY(calc(4px + 5em));
  }
  .card .line3 {
    -webkit-transform: translateY(calc(4px + 3em)) !important;
    -ms-transform: translateY(calc(4px + 3em)) !important;
    transform: translateY(calc(4px + 3em)) !important;
  }
}
